body,
html {
  font-family: "Vollkorn", serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 16px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 2px 16px;
}
.siteTitle {
  display: block;
  font-weight: 900;
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
  @include media {
    font-size: 60px;
  }
}
header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
img {
  border-radius: 5px 5px 0 0;
}
.container {
  padding: 2px 16px;
}
.Title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.form {
  padding-top: 50px;
}
.header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}
.guessField {
  margin-top: 40px;
}
.guessSubmit {
  border-radius: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: small;
  background-color: lightcyan;
  margin-top: 30px;
}
